* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #dbe6fd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: grey;
}
